
<navbar></navbar>

<div class="calculator-holder" ng-keydown="$ctrl.onKeyDown($event)" ng-keyup="$ctrl.onKeyUp()" tabindex="0">

  <div class="calculator">
    <div class="inner">

      <div class="screen">
        <span class="mem-num">{{ $ctrl.memVal }} {{ $ctrl.calcFn.activeFn.symbol }}</span>
        <span class="display-num">{{ $ctrl.displayVal }}</span>
      </div>
      <div class="main-ui">
        <button class="fn-btn reset" ng-click="$ctrl.reset()" ng-class="{ 'active' : 'reset' == $ctrl.activeBtn }" >c</button>
        <section class="numbers">
          <button class="num-btn num-{{ number }}" ng-repeat="number in $ctrl.numbers" ng-click="$ctrl.onNumberClick(number)" ng-class="{ 'active' : number.toString() == $ctrl.activeBtn }" >{{ number }}</button>
          <button class="fn-btn equals" ng-click="$ctrl.equals()" ng-class="{ 'active' : 'equals' == $ctrl.activeBtn }" >=</button>
        </section>
        <section class="functions">
          <button class="fn-btn fn-{{ calcFn }}" ng-repeat="calcFn in $ctrl.fnButtons" ng-click="$ctrl.onFnClick(calcFn)" ng-class="{ 'selected' : calcFn == $ctrl.selectedFn , 'active' : calcFn == $ctrl.activeBtn }">{{ calcFn }}</button>
        </section>
      </div>


    </div>
  </div>

</div>
