@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import "css/reset";

$colors-grey  : #CCC;
$colors-grey-dark : #333;


@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin transform( $string ){
	-webkit-transform: $string;
	-moz-transform:    $string;
	-ms-transform:     $string;
	-o-transform:      $string;
	transform:         $string;
}

@mixin transition( $speed ){
	-webkit-transition: all $speed ease-in-out;
	-moz-transition:    all $speed ease-in-out;
	-o-transition:      all $speed ease-in-out;
	transition:         all $speed ease-in-out;
}

@mixin transform-origin( $x , $y ){
	-webkit-transform-origin: $x $y;
	-moz-transform-origin: $x $y;
	-o-transform-origin: $x $y;
	-ms-transform-origin: $x $y;
	transform-origin: $x $y;
}
